{% extends 'django_knowledge/inner.html' %}

{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Support" %}{{ block.super }}{% endblock title %}

{% block knowledge_widgets %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

    {% for category in object_list %}
    <tr>
        <td><a href="{% url "knowledge_list_category" category.slug %}">{{ category.title }}</a></td>
        <td><a class="btn btn-success" href="{% url "category_update" category.id %}">Edit</a><a class="btn btn-danger" href="{% url "category_delete" category.id %}">Delete</a></td>
    </tr>
    {% endfor %}

    </tbody>
</table>
Or add new <a class="btn btn-info" href="{% url "category_add" %}">here</a>

{% endblock knowledge_widgets %}
