{% extends 'django_knowledge/inner.html' %}

{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Support" %}{{ block.super }}{% endblock title %}


{% block knowledge_widgets %}
<form id="form" action="{{ submit_url }}" method="post" class="form-horizontal">
  {% csrf_token %}

  {% for field in form.visible_fields %}
    <div class="control-group field-{{ field.html_name }}">
        <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}: {% if field.field.required %}<small><em class="quiet">({% trans "required" %})</em></small>{% endif %}
          {% if field.field.help_text %}
          {% endif %}
        </label>
      <div class="controls">
          {{ field }}
          {% if field.field.help_text %}
          <span class="help-block">{{ field.field.help_text }}</span>
          {% endif %}
      </div>
      {{ field.errors }}
    </div>
  {% endfor %}

  {% for field in form.hidden_fields %}{{ field }}{% endfor %}

  <button id="submit_button" class="btn btn-large btn-block btn-primary" type="submit" value="{% trans Submit %}">Submit</button>

</form>
<script src="/static/admin/js/urlify.js"></script>
<script type="text/javascript">
(function($) {
    $.fn.prepopulate = function(dependencies, maxLength) {
        /*
            Depends on urlify.js
            Populates a selected field with the values of the dependent fields,
            URLifies and shortens the string.
            dependencies - array of dependent fields id's
            maxLength - maximum length of the URLify'd string
        */
        return this.each(function() {
            var field = $(this);

            field.data('_changed', false);
            field.change(function() {
                field.data('_changed', true);
            });

            var populate = function () {
                // Bail if the fields value has changed
                if (field.data('_changed') == true) return;

                var values = [];
                $.each(dependencies, function(i, field) {
                  if ($(field).val().length > 0) {
                      values.push($(field).val());
                  }
                })
                field.val(URLify(values.join(' '), maxLength));
            };

            $(dependencies.join(',')).keyup(populate).change(populate).focus(populate);
        });
    };
})(jQuery);
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('#form').on('submit', function(e){
      $('#submit_button').attr('disabled', true);
    });
    $("#id_slug").prepopulate(["#id_title"], 50);
  });
</script>
{% endblock knowledge_widgets %}


