{% extends 'django_knowledge/inner.html' %}

{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Support" %}{{ block.super }}{% endblock title %}

{% block knowledge_widgets %}

<span style="font-size: 18px;">You want delete <a href="{% url "knowledge_list_category" category.slug %}" style="color: lightskyblue">{{ category.title }}</a> category. Go next?</span>
<form method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-info" value="Delete it!">
</form>
{% endblock knowledge_widgets %}
