{% load i18n %}
{% load url from future %}

<form id="form" action="{{ submit_url }}" method="post" class="form-horizontal">
  {% csrf_token %}

  {% for field in form.visible_fields %}
    <div class="control-group field-{{ field.html_name }}">
        <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}: {% if field.field.required %}<small><em class="quiet">({% trans "required" %})</em></small>{% endif %}
          {% if field.field.help_text %}
          {% endif %}
        </label>
      <div class="controls">
          {{ field }}
          {% if field.field.help_text %}
          <span class="help-block">{{ field.field.help_text }}</span>
          {% endif %}
      </div>
      {{ field.errors }}
    </div>
  {% endfor %}

  {% for field in form.hidden_fields %}{{ field }}{% endfor %}
  {% for field in form.hidden_fields %}{{ field }}{% endfor %}

  <button id="submit_button" class="btn btn-large btn-block btn-primary" type="submit" value="{% trans submit_value %}">{% trans submit_value %}</button>

</form>
<script type="text/javascript">
  $(document).ready(function(){
    $("#id_categories").select2();
    $('#form').on('submit', function(e){
      $('#submit_button').attr('disabled', true);
    });
  });
</script>
