{% extends 'django_knowledge/inner.html' %}

{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Support" %}{{ block.super }}{% endblock title %}

{% block knowledge_widgets %}

<div class="dk-widget">
  <h3>{% blocktrans with count=questions|length %}Top {{ count }} Questions{% endblocktrans %}</h3>
  <hr />

  {% include 'django_knowledge/question_list.html' %}
</div>

{% endblock knowledge_widgets %}
