{% extends BASE_TEMPLATE|default:'django_knowledge/base.html' %}

{% load i18n %}
{% load url from future %}

{% block knowledge_inner %}

<div class="dk-inner">
  
  {% include "django_knowledge/welcome.html" %}

  <div class="dk-search">
    <form action="{% if category %}{% url "knowledge_list_category" category.slug %}{% else %}{% url "knowledge_list" %}{% endif %}" method="get">
      <input class="question-search" {% if search %}value="{{ search|force_escape }}"{% else %}placeholder="{% trans "Start typing your question here." %}"{% endif %} type="text" name="title"/> <input value="Search" type="submit" class="submit-question-search" />
    </form>
    <div class="clear"></div>
  </div>

  <div class="dk-content">
    {% block knowledge_widgets %}
      
    {% endblock knowledge_widgets %}
  </div>

  {% block sidebar %}
  <div class="dk-sidebar">
    <div class="inner">
      {% include "django_knowledge/sidebar.html" %}
    </div>
  </div>
  {% endblock %}
  <div class="clear"></div>
</div>

{% endblock knowledge_inner %}
