{% extends 'django_knowledge/inner.html' %}

{% load i18n %}
{% load url from future %}

{% load knowledge_tags %}

{% block title %}Showing {{ questions.paginator.count }} results{% if search %} for {{ search }}{% endif %}{% if category %} in {{ category.title }} category{% endif %}{{ block.super }}{% endblock title %}

{% block knowledge_widgets %}

<div class="dk-widget">
  {# dunno how to do translation on this nasty block... #}
  <h3>Showing {{ counter }} results{% if search %} for <em>{{ search }}</em>{% endif %}{% if category %} in <em>{{ category.title }}</em> category{% endif %}:</h3>
  <hr />

  {% include 'django_knowledge/question_list.html' with questions=questions.object_list %}


  {% if not questions.paginator.count %}
    <p class="center"><em>{% trans "No results found." %}</em></p>
  {% endif %}
  
  <hr class="light"/>

  <div class="center">
    <strong>
    {% if questions.has_previous %}
      <a href="?{% page_query request questions.previous_page_number %}">&larr; {% trans "previous" %}</a>
    {% endif %}

    &nbsp; {% blocktrans with number=questions.number pages=questions.paginator.num_pages %}page {{ number }} of {{ page }}{% endblocktrans %} &nbsp;

    {% if questions.has_next %}
      <a href="?{% page_query request questions.next_page_number %}">{% trans "next" %} &rarr;</a>
    {% endif %}
    </strong>
  </div>
</div>

{% if form and paginator.count < 5 %}
  <div class="dk-widget">
    <h3>{% trans "Ask a Question" %}</h3>
    <hr />

    {% url "knowledge_ask" as form_url %}

    {% include "django_knowledge/form.html" with submit_value="Submit this support request" submit_and="and we'll get back to you as soon as possible." submit_url=form_url %}
  </div>
{% endif %}

{% endblock knowledge_widgets %}
