{% load i18n %}
{% load url from future %}

{% if my_questions %}

  <h4>{% trans "My Questions" %}</h4>
  <hr />

  <ul>
    {% for question in my_questions %}
      <li><a href="{{ question.get_absolute_url }}">{{ question.title }}</a></li>
    {% empty %}
      <li>You didn't asked anything</li>
    {% endfor %}
  </ul>

  <br />
    
{% endif %}

{% if not hide_category_bar %}
<h4>{% trans "Categories" %}</h4>
<hr />

<ul class="unstyled dk-category-list">
  {% for category in categories %}
    <li><a class="btn" href="{% url "knowledge_list_category" category.slug %}">{{ category.title }}</a></li>
  {% empty %}
    No categories..
  {% endfor %}
</ul>

{% if request.user.is_staff %}
<a class="" href="{% url "category_list" %}">Manage categories</a>
{% endif %}
<br />
{% endif %}

<h4>{% trans "Navigate" %}</h4>
<hr />

<ul>
  <li><a href="{% url "knowledge_ask" %}">{% trans "Ask a question or give suggestion." %}</a></li>
  <li><a href="{% url "knowledge_index" %}">{% trans "Return to homepage." %}</a></li>
</ul>
