{% extends 'django_knowledge/inner.html' %}

{% load i18n %}
{% load markup %}
{% load knowledge_tags %}
{% load url from future %}

{% block title %}{{ question.title }}{{ block.super }}{% endblock title %}

{% block knowledge_widgets %}

<div class="dk-widget">

  <div class="dk-dialog alert alert-info">
    <div class="the-author gravatar"><img src="{% get_gravatar question.get_email default='mm' %}" alt="{{ question.get_name }} gravatar"></div>
    <div class="the-content gravatar">
      <h2>{{ question.title }}</h2>
      <h5>{{ question.get_name }} <span class="quiet">
        {% if question.user %}
          {% if question.user.is_staff %}&nbsp;<span class="dk-label dk-label-success">{% trans "staff" %}</span>
          {% else %}&nbsp;<span class="dk-label">{% trans "user" %}</span>{% endif %}
        {% endif %}
        &nbsp;{{ question.added }}
      </span></h5>

      {{ question.body|striptags|markdown:"nl2br" }}

      <div class="dk-mod-bar">
        {% if request.user == question.user or request.user.is_staff %}
          <a class="btn{% if mod in node.states %} dk-label-warning{% endif %}" href="{% url "knowledge_edit" question.id %}">Edit</a>
          {% endif %}

        {% include "django_knowledge/mod_bar.html" with allowed_mods=allowed_mods.question type="question" node=question %}
      </div>

    </div>
  </div> <!-- .dk-dialog -->
    {% if question.categories.all %}
      <span class="dk-thread-categories">Categories:</span>
      {% for category in question.categories.all %}
      <a class="btn" href="{% url "knowledge_list_category" category.slug %}">{{ category.title }}</a></li>
      {% endfor %}
    {% else %}
     <span class="dk-thread-categories">No categories..</span>
    {% endif %}
  </ul>

  <hr />
  <h3>Responses:</h3>
  <hr />

  {% for response in responses %}
    <div class="dk-dialog">
      <div class="the-author gravatar smaller"><img src="{% get_gravatar response.get_email 40 default='mm' %}" alt="{{ response.get_name }} gravatar"></div>
      <div class="the-content gravatar">
        <h5>{{ response.get_name }} <span class="quiet">
          {% if response.accepted %}&nbsp;<span class="dk-label dk-label-warning">{% trans "accepted answer" %}</span>{% endif %}
          {% if question.user == response.user %}&nbsp;<span class="dk-label dk-label-info">{% trans "poster" %}</span>{% endif %}
          {% if response.user %}
            {% if response.user.is_staff %}&nbsp;<span class="dk-label dk-label-success">{% trans "staff" %}</span>
            {% else %}&nbsp;<span class="dk-label">{% trans "user" %}</span>{% endif %}
          {% endif %}
          &nbsp;{{ response.added }}
        </span></h5>

        {{ response.body|striptags|markdown:"nl2br" }}

        <div class="dk-mod-bar">
          {% include "django_knowledge/mod_bar.html" with allowed_mods=allowed_mods.response type="response" node=response %}
        </div>
      </div>
    </div> <!-- .dk-dialog -->
    <hr />
  {% empty %}
    <p class="center"><em>{% trans "No responses yet." %}</em></p>
  {% endfor %}

<!-- 
  <br/> 
  <hr class="light"/>
  <br/> 
 -->

  {% if form %}
    {% include "django_knowledge/form.html" with submit_value="Respond to this question" submit_and="and check back often for updates." %}
  {% else %}
    {% if question.locked %}
      <p class="center"><em>{% trans "This question has been closed." %}</em></p>
    {% else %}
      <p class="center"><em>{% trans "Please log in to respond." %}</em></p>
    {% endif %}
  {% endif %}


</div>

{% endblock knowledge_widgets %}
